1) Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module

In [1]:
import pandas as pd
seri = pd.Series([2, 4, 6, 8, 10])
print(seri)

0     2
1     4
2     6
3     8
4    10
dtype: int64

2. Write a Pandas program to convert a Panda module Series to Python list and
its type.

In [2]:
print(type(seri))
lit=seri.tolist()
print(lit)
print(type(lit))

<class 'pandas.core.series.Series'>
[2, 4, 6, 8, 10]
<class 'list'>

3. Write a Pandas program to add, subtract, multiple and divide two Pandas
Series.  Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [3]:
seri1=pd.Series([2,4,6,8,10])
seri2=pd.Series([1,3,5,7,9])
print("Addition : \n{} ".format(seri1+seri2))
print("Subtraction : \n{} ".format(seri1-seri2))
print("Multiplication : \n{} ".format(seri1*seri2))
print("Division : \n{}".format(seri1/seri2))

Addition :
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtraction :
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiplication :
0     2
1    12
2    30
3    56
4    90
dtype: int64
Division :
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

4. Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [4]:
seri1 = pd.Series([2, 4, 6, 8, 10])
seri2 = pd.Series([1, 3, 5, 7, 10])
print("Equal : \n{}".format(seri1 == seri2))
print("Greater than : \n{}".format(seri1 > seri2))
print("Less than : \n{}".format(seri1 < seri2))

Equal :
0    False
1    False
2    False
3    False
4     True
dtype: bool
Greater than :
0     True
1     True
2     True
3     True
4    False
dtype: bool
Less than :
0    False
1    False
2    False
3    False
4    False
dtype: bool

5. Write a Pandas program to convert a dictionary to a Pandas series. 
Sample Series:
Original dictionary:
{&#39;a&#39;: 100, &#39;b&#39;: 200, &#39;c&#39;: 300, &#39;d&#39;: 400, &#39;e&#39;: 800}
Converted series:
a 100
b 200
c 300
d 400
e 800

In [5]:
dic = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}
print("Dictionary : \n{}".format(dic))
series = pd.Series(dic)
print("Series : \n{}".format(series))

Dictionary :
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Series :
a    100
b    200
c    300
d    400
e    800
dtype: int64

6. Write a Pandas program to convert a NumPy array to a Pandas series. 
Sample Series:
NumPy array:
[10 20 30 40 50]
Converted Pandas series:
0 10
1 20
2 30
3 40
4 50

In [6]:
import numpy as np 
array = np.array([10, 20, 30, 40, 50])
print("Array is : {}".format(array))
series = pd.Series(array)
print("Series : \n{}".format(series))

Array is : [10 20 30 40 50]
Series :
0    10
1    20
2    30
3    40
4    50
dtype: int64

7. Write a Pandas program to change the data type of given a column or a Series.

In [7]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
s2 = pd.to_numeric(s1, errors='coerce')
print(s2)

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

8. Write a Pandas program to convert the first column of a DataFrame as a
Series.

In [8]:
a=pd.Series(range(2,12,2))
b=pd.Series(range(1,11,2))
df = pd.DataFrame([a,b])
data = df.T
data['Sum']= data[0]+data[1]
data['Sub']=data[0]-data[1]
data['Prod']=data[0]*data[1]
data['qou']=data[0]/data[1]
pd.Series(data[0])

0     2
1     4
2     6
3     8
4    10
Name: 0, dtype: int64

9. Write a Pandas program to convert a given Series to an array.

In [9]:
import numpy as np
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s1)
print("Series to an array")
a = np.array(s1.values.tolist())
print (a)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Series to an array
['100' '200' 'python' '300.12' '400']

10. Write a Pandas program to convert Series of lists to one Series. 
Sample Output:
Original Series of list
0 [Red, Green, White]
1 [Red, Black]
2 [Yellow]
dtype: object
One Series
0 Red
1 Green
2 White
3 Red
4 Black
5 Yellow

In [10]:
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
print("Original Series of list")
print(s)
s = s.apply(pd.Series).stack().reset_index(drop=True)
print("One Series")
print(s)

Original Series of list
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
One Series
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

11. Write a Pandas program to sort a given Series. 
Sample Output:
Original Data Series: 0 100
1 200
2 python
3 300.12

4 400
dtype: object
0 100
1 200
3 300.12
4 400
2 python

In [11]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s)
new_s = pd.Series(s).sort_values()
print(new_s)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
3    300.12
4       400
2    python
dtype: object

12. Write a Pandas program to add some data to an existing Series.
Sample Output:
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Data Series after adding some data:
0 100
1 200
2 python
3 300.12
4 400
0 500
1 php
dtype: object

In [12]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s)
print("\nData Series after adding some data:")
new_s = s.append(pd.Series(['500', 'php']))
print(new_s)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

Data Series after adding some data:
0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

13. Write a Pandas program to create a subset of a given series based on value and condition.
Sample Output:
Original Data Series:
0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9
10 10
dtype: int64
Subset of the above Data Series:
0 0
1 1
2 2
3 3
4 4
5 5
dtype: int64

In [13]:
s = pd.Series([0, 1,2,3,4,5,6,7,8,9,10])
print("Original Data Series:")
print(s)
print("\nSubset of the above Data Series:")
n = 6
new_s = s[s < n]
print(new_s)

Original Data Series:
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

Subset of the above Data Series:
0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

14. Write a Pandas program to change the order of index of a given series. 
Sample Output:
Original Data Series:
A 1
B 2
C 3
D 4
E 5
dtype: int64
Data Series after changing the order of index:
B 2
A 1
C 3
D 4
E 5

In [14]:
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
print("Original Data Series:")
print(s)
s = s.reindex(index = ['B','A','C','D','E'])
print("Data Series after changing the order of index:")
print(s)

Original Data Series:
A    1
B    2
C    3
D    4
E    5
dtype: int64
Data Series after changing the order of index:
B    2
A    1
C    3
D    4
E    5
dtype: int64